@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

.header-wrapper
  height: 134px
  width: 100%
  z-index: 999
  position: relative
  right: 0px
  top: 0px
  justify-content: space-between
  align-items: center
  margin-bottom: 10px
  padding-right: 30px
  background-color: rgba(255, 255, 255, 1)
  border-bottom: 1px solid #666666C9
  z-index: 1000
  padding-top: 10px
.notification
  background-color: rgba(255, 255, 255, 1)
  border-radius: 100px
  padding: 10px
  width: 40px
  height: 40px
  margin-right: 40px
.logo
.avatar
  width: 40px
  height: 40px
  border-radius: 100%
  background: rgb(153,153,153)
  color: #ffffff
  display: flex
  justify-content: center
  align-items: center
  font-size: 2rem
  font-weight: 600
.avatar2
  width: 40px
  height: 40px
  border-radius: 100%
  background: #1D3461
  color: #ffffff
  display: flex
  justify-content: center
  align-items: center
  font-size: 2rem
  font-weight: 600
.nameandposition
  margin-left: 10px
  margin-top: 5px
.name
  font-size: 14px
  font-weight: 600
  line-height: 12px
  letter-spacing: 0em
  text-align: left
  color: #383838
  margin-bottom: 3px
.role
  margin-top: 10px
  font-size: 14px
  font-weight: 400
  line-height: 12px
  letter-spacing: 0em
  text-align: left
  color: rgba(255, 255, 255, 1)
.auth
  display: flex
  margin-right: 20px
  margin-top: 0px

.button1
  margin-right: 5px
.header__icon
  display: flex
.signin
  font-family: Montserrat
  font-size: 22px
  font-weight: 600
  line-height: 39px
  letter-spacing: 0em
  text-align: center
  color: #000000
  margin-top: 5px
  &:hover
    cursor: pointer
    text-decoration: underline
.signup
  margin-left: 10px
  font-family: Montserrat
  font-size: 22px
  font-weight: 600
  line-height: 39px
  letter-spacing: 0em
  text-align: center
  background-color: #FEDE07
  border-radius: 8px
  border: none
  padding: 5px 10px
  &:hover
    cursor: pointer
    opacity: 1
    background-color: #f8d700
.dropdown
  width: 100%
.input_search
  width: 450px
  height: 40px
  top: 34px
  left: 234px
  border-radius: 40px
  border: 1px
  background-color: #FFFFFF
  border: 1px solid #000000
  padding: 5px 50px 5px 20px
  &:focus-visible
    outline: none
.icon
.content
  display: flex
  justify-content: space-between
.navbar
  width: 100%
  margin-top: 19px
  padding: 0px 20px 0px 40px
  .icon
    display: flex
    justify-content: space-between
    text-align: center
.active
  font-family: Montserrat
  font-size: 18px
  font-weight: 600
  line-height: 30px
  letter-spacing: 0em
  text-align: center
  color: #000000
  border-bottom: 5px solid #FEDE07
.inactive
  font-family: Montserrat
  font-size: 18px
  font-weight: 600
  line-height: 30px
  letter-spacing: 0em
  text-align: center
  color: #000000
.boxsearch
  display: flex
  justify-content: flex-end
  margin-left: 20vw
  .input_search
    margin-top: 10px
    width: 30vw
    height: 60px
    top: 34px
    left: 234px
    border-radius: 40px
    border: 1px
    background-color: #FFFFFF
    border: 1px solid #000000
    padding: 5px 50px 5px 20px
    &:focus-visible
      outline: none
  .icon
    position: absolute
    margin-right: 10px
    margin-top: 20px
