@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Play:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

.details
    width: 100%
    margin-top: 20px
    margin-bottom: 40px
    margin: auto
    margin-right: 40%
    margin-bottom: 10px
    height: 70vh
    padding: 24px
    border: none
    background-color: #FFFFFF
    border-radius: 7px
    .__info
        font-family: Kanit
        font-size: 20px
        font-weight: 600
        line-height: 30px
        letter-spacing: 0.04em
        text-align: left
    .__info_2
        margin-top: 10px
        font-family: Kanit
        font-size: 14px
        font-weight: 500
        line-height: 21px
        letter-spacing: 0.04em
        text-align: left

    .underline
        border: 1px solid #D9D9D9
        color: #D9D9D9
    .content
        margin-top: 10px
        font-family: Kanit
        font-size: 12px
        font-weight: 400
        line-height: 18px
        letter-spacing: 0.04em
        text-align: left
        color: #353535
    .upload
        display: flex
        justify-content: flex-end