@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Play:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

.form-wallpaper
    padding: 20px 40px
    display: flex
    justify-content: space-between
    .navbar
        width: 30%
        .title
            font-family: Montserrat
            font-size: 35px
            font-weight: 600
            line-height: 43px
            letter-spacing: 0em
            text-align: left
        .line
            border: 3px solid #666666C9
            margin-top: 20px
            width: 80%
        .header__process
            display: grid
            .header__title
                margin-top: 10px
                &:hover
                    cursor: pointer
                &.active
                    font-family: Montserrat
                    font-size: 30px
                    font-weight: 600
                    line-height: 37px
                    letter-spacing: 0em
                    text-align: left
                    background-color: #FFFFFF
                    border: none
                &.inactive
                    font-family: Montserrat
                    font-size: 30px
                    font-weight: 400
                    line-height: 37px
                    letter-spacing: 0em
                    text-align: left
                    background-color: #FFFFFF
                    border: none

    .content
        width: 70%
        .title
            font-family: Montserrat
            font-size: 35px
            font-weight: 600
            line-height: 43px
            letter-spacing: 0em
            text-align: left
        .box
            border: 0.45px solid #000000
            width: 90%
            margin-top: 20px
            padding: 40px
            display: flex
            justify-content: space-between
            .div1
                width: 20%
                .avatar
                    height: 100px
                    width: 100px
                    border-radius: 100px
                    background: rgb(153,153,153)
                    color: #ffffff
                    display: flex
                    justify-content: center
                    align-items: center
                    font-size: 70px
                    border: 2px solid #8D8D8D
                    font-weight: 600
            .div2
                width: 80%
                margin-top: -10px
                .label
                    font-family: Montserrat
                    font-size: 25px
                    font-weight: 600
                    line-height: 30px
                    letter-spacing: 0em
                    text-align: left
                    margin-bottom: 10px
                    margin-top: 10px
                input
                    border: 1px solid #000000
                    border-radius: 10px
                    padding: 10px 10px
                    font-family: Montserrat
                    font-size: 18px
                    font-weight: 700
                    line-height: 22px
                    letter-spacing: 0em
                    text-align: left
                    color: #595959
                    width: 90%
                    &:focus-visible
                        outline: none
                .note
                    margin-top: 3px
                    font-family: Montserrat
                    font-size: 12px
                    font-style: italic
                    font-weight: 400
                    line-height: 16px
                    letter-spacing: 0em
                    text-align: left

                .note:before
                    content: " *"
                    color: #000000
                    margin-right: 5px
                    font-size: 13px
                button
                    background-color: #24D59E
                    padding: 10px 20px
                    font-family: Montserrat
                    font-size: 20px
                    font-weight: 700
                    line-height: 24px
                    letter-spacing: 0em
                    text-align: center
                    border-radius: 10px
                    margin-top: 10px
                    border: none
                    &:hover
                        cursor: pointer
        .box2
            border: 0.45px solid #000000
            width: 90%
            margin-top: 20px
            padding: 40px
            display: flex
            justify-content: space-between
            .sentcv_avt
                width: 15%
                .avt
                    height: 5vw
                    width: 5vw
                    border-radius: 100px
                    background: #D9D9D9
                    color: #ffffff
                    display: flex
                    justify-content: center
                    align-items: center
                    font-size: 70px
                    border: 2px solid #D9D9D9
                    font-weight: 600
            .sentcv_content
                width: 85%
                .sentcv_title
                    display: flex
                    justify-content: space-between
                    .sentcv_info
                        display: grid
                        .sentcv_name
                            font-family: Montserrat
                            font-size: 20px
                            font-weight: 600
                            line-height: 24.38px
                            text-align: left

                        .sentcv_email
                            font-family: Montserrat
                            font-size: 14px
                            font-weight: 400
                            line-height: 17.07px
                            text-align: left
                            text-decoration: underline
                    .sentcv_button
                        display: flex
                        justify-content: space-around
                        gap: 20px
                        .button
                            align-content: center
                            width: 15vw
                            padding: 5px
                            font-family: Montserrat
                            font-size: 20px
                            font-weight: 600
                            line-height: 24.38px
                            text-align: center
                            border-radius: 10px
                            background-color: #24D59E
                .sentcv_detail
                    margin-top: 10px
                    font-family: Montserrat
                    font-size: 13px
                    font-weight: 400
                    line-height: 15.85px
                    text-align: justify
