@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Play:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

.details
    width: 70%
    display: grid
    gap: 30px
    grid-template-columns: repeat(auto-fill, minmax(22%, 1fr))
    max-height: calc( 100vh - 100px )
    overflow: auto
    box-shadow: 4px 4px 10px 0px #00000040
    background-color: #FFFFFF
    border-radius: 7px
    .__info
        width: 200%
        padding: 16px 24px 0 24px
        border: none
        border-radius: 7px
    .member
        .box
            padding: 20px
            height: 300px
            width: 100%
            background-color: #FFFFFF
            box-shadow: 4px 4px 13.600000381469727px 0px #00000040
            border-radius: 4px
            .avatar_main
                width: 100%
                display: flex
                justify-content: center
                .avatar
                    width: 100%
                    border: 2px solid #8D8D8D
                    height: 95px
                    width: 95px
                    background: rgba(88, 112, 86, 1)
                    color: #ffffff
                    display: flex
                    justify-content: center
                    align-items: center
                    font-size: 60px
                    font-weight: 600
                    border-radius: 100px
                    margin-top: 0px
            .fullname
                font-family: Kanit
                font-size: 12px
                font-weight: 500
                line-height: 24px
                letter-spacing: 0.11em
                text-align: center
                color: #383838
            .position
                font-family: Kanit
                font-size: 10px
                font-weight: 400
                line-height: 18px
                letter-spacing: 0.11em
                text-align: center
            .content
                font-family: Kanit
                font-size: 10px
                font-weight: 300
                letter-spacing: 0.04em
                text-align: justify
                line-height: 12.17px
            .url
                margin-top: 15px
                width: 80%
                display: flex
                justify-content: space-between
                margin: auto
                margin-top: 15px
                &:hover
                    cursor: pointer
.update
    color: #7E7E7E
    &:hover
        text-decoration: underline
        cursor: pointer
        color: #587056

.inputsettings
    background-color: #FFFFFF
    color: #666666
    border: none
    font-family: 'Play'
    font-style: normal
    font-weight: 300
    font-size: 12px
    margin-bottom: 2px
    &:focus-visible
        outline: none
.footer
    display: flex
    justify-content: flex-end
    margin-bottom: 10px
    margin-top: 40px
    button
        width: 134px
        padding: 10px 15px 10px 15px
        justify: space-between
        background: #08A5EA
        color: #FFFFFF
        border: none
        border-radius: 7px
        &:hover
            cursor: pointer
            box-shadow: 10px
.detail
    display: flex
    justify-content: space-between
    .item_2
        height: 56px
        align-items: center
        margin-top: 10px
        gap: 5px
.inputsettings_2
    background-color: #FFFFFF
    color: #666666
    border: none
    font-family: 'Play'
    font-style: normal
    font-weight: 300
    font-size: 12px
    margin-bottom: 2px
    margin-left: 10px
    width: 80%
    &:focus-visible
        outline: none

.main
    width: 103%
    display: flex
    justify-content: space-between
.details_2
    width: 28%
    max-height: calc( 100vh - 100px )
    overflow: auto
    border-radius: 7px
    box-shadow: 4px 4px 10px 0px #00000040
    background-color: #FFFFFF
    padding: 20px
    .__info
        font-family: Kanit
        font-size: 20px
        font-weight: 700
        line-height: 30px
        letter-spacing: 0.04em
        text-align: left
        color: #112E67

    .items
        margin-top: 20px

        .uploadimg
            margin-top: 50px
            .title
                font-family: Kanit
                font-size: 12px
                font-weight: 500
                line-height: 21px
                letter-spacing: 0.04em
                text-align: left
                color: #383838
            .note
                font-family: Kanit
                font-size: 9px
                font-weight: 300
                line-height: 18px
                letter-spacing: 0.04em
                text-align: left
                color: #666666
        .title
            font-family: Kanit
            font-size: 13px
            font-weight: 400
            line-height: 21px
            letter-spacing: 0.04em
            text-align: left
            color: #494949
        .content
            justify-content: flex-end
            font-family: Kanit
            font-size: 13px
            font-weight: 500
            line-height: 21px
            letter-spacing: 0.04em
            text-align: right
            color: #383838
            width: 40%
        .input
            background-color: #F3F3F3
            border: none
            padding: 5px 10px
            &:focus-visible
                outline: none
        p
            font-family: Kanit
            font-size: 14px
            font-weight: 500
            line-height: 18px
            letter-spacing: 0.04em
            text-align: left
            color: #383838
.button
    margin-top: 10px
    height: 30px
    width: 150px
    border: none
    box-shadow: 1px 3px 9.800000190734863px 0px #00000029
    background-color: #FFFFFF
    display: flex
    &:hover
        cursor: pointer
    div
        margin: auto
