@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Play:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

.details
    .title
        font-family: Kanit
        font-size: 14px
        font-weight: 500
        line-height: 24px
        letter-spacing: 0.07em
        text-align: left
        color: #383838
    .item
        p
            margin-top: 5px
            font-family: Kanit
            font-size: 12px
            font-weight: 500
            line-height: 18px
            letter-spacing: 0.04em
            text-align: left
            color: #383838
    .item_2
        p
            margin-top: 5px
            font-family: Kanit
            font-size: 12px
            font-weight: 500
            line-height: 18px
            letter-spacing: 0.04em
            text-align: left
            color: #383838
    .option
        margin-top: 10px
        display: flex

        .title
            width: 50%
            .infor
                font-family: Kanit
                font-size: 12px
                font-weight: 500
                line-height: 18px
                letter-spacing: 0.04em
                text-align: left
                color: #383838
                width: 50%
    .button
        display: flex
        justify-content: space-between
        margin-top: 10px
.cancel

    border: none
    background-color: #DFDFDF
    color: #1A1A1A
    font-family: Kanit
    font-size: 14px
    font-weight: 500
    line-height: 21px
    letter-spacing: 0.04em
    text-align: center
    padding: 5px
    border-radius: 4px
    width: 100px
    height: 30px
    &:hover
        cursor: pointer
.save
    height: 30px
    border-radius: 4px
    width: 120px
    padding: 5px
    font-family: Kanit
    font-size: 14px
    font-weight: 500
    line-height: 21px
    letter-spacing: 0.04em
    text-align: center
    color: #FFFFFF
    border: none
    background-color: #08A5EA
    &:hover
        cursor: pointer
.inputsettings
    width: 100%
    height: 33.5px
    padding-left: 10px
    border-radius: 4px
    gap: 10px
    background-color: #F3F3F3
    border: none
    padding-right: 10px
    &:focus-visible
        outline: none
.details_2

    .__info
        font-family: Kanit
        font-size: 20px
        font-weight: 700
        line-height: 30px
        letter-spacing: 0.04em
        text-align: left
        color: #112E67

    .items
        margin-top: 20px

        .uploadimg
            margin-top: 50px
            .title
                font-family: Kanit
                font-size: 12px
                font-weight: 500
                line-height: 21px
                letter-spacing: 0.04em
                text-align: left
                color: #383838
            .note
                font-family: Kanit
                font-size: 9px
                font-weight: 300
                line-height: 18px
                letter-spacing: 0.04em
                text-align: left
                color: #666666
        .title
            font-family: Kanit
            font-size: 13px
            font-weight: 400
            line-height: 21px
            letter-spacing: 0.04em
            text-align: left
            color: #494949
        .content
            justify-content: flex-end
            font-family: Kanit
            font-size: 13px
            font-weight: 500
            line-height: 21px
            letter-spacing: 0.04em
            text-align: right
            color: #383838
            width: 40%
        .input
            background-color: #F3F3F3
            border: none
            padding: 5px 10px
            &:focus-visible
                outline: none
        p
            font-family: Kanit
            font-size: 14px
            font-weight: 500
            line-height: 18px
            letter-spacing: 0.04em
            text-align: left
            color: #383838

.footter
    display: flex
    justify-content: space-between
    margin-top: 3px
